{% extends "base.html" %}
{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h1 {
        color: green;
    }

    /* Styling the button */
    .btn {
        cursor: pointer;
        border: 1px solid #3498db;
        background-color: transparent;
        height: 50px;
        width: 200px;
        color: #3498db;
        font-size: 1.5em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    }
</style>

<div class="login-box">
  <h2>Login</h2>
  <form method = "POST">

    {% csrf_token %}

    <!---message box--->
    {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info">
            {{ message }}
          </div>
          {% endfor %}
    {% endif %}

    <div class="user-box">
      <input type="text" name="username" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      <label for="">Password</label>
    </div>

      <input type = "submit" class = "btn btn-sm btn-block btn-primary" value = "Login">

    <a href="{% url 'register' %}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Don't have an account?
    </a>
    <!---send user to the password recovery page where user will enter the email address
    if the email address is already register then the token should be sent to the user's email address and from there
    he or she should be able to login after setting up a new password--->
    <a href="{% url 'request-reset-email' %}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Forgot password or Username?
    </a>
  </form>
</div>
{% endblock %}
