{% extends "base.html" %}
{% block content %}
<style>
    h1 {
        color: green;
    }

    /* Styling the button */
    .btn {
        cursor: pointer;
        border: 1px solid #3498db;
        background-color: transparent;
        height: 50px;
        width: 200px;
        color: #3498db;
        font-size: 1.5em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    }
</style>
{% if request.user.is_authenticated %}
    <!---representation of an header bar--->
    <!---acess the logged in user with a request object here using request.user object--->
    <!---by default django will use sessions to register the user--->

    <p style  = "color: #FFFFFF;">{{request.user}}</p> <!---it will show the current user logged in to the website--->

    <!---add the button for logout operation--->
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Log out" class = "btn"/>
    </form>

    <!---show task list only when the user is logged in--->
    <hr>
    <h2 style  = "color: #FFFFFF;">My to do list</h2>
    <!---create a link to add items--->
    <a href="{%url 'task-create'%}">Add Task</a>

    <table class ="tbl">
        <tr>
          <th style  = "color: #FFFFFF;">Item</th>
          <th></th>
          <th></th>
        </tr>

        <!---getting the object_list that we discussed earlier and getting all the titles
        weh have changed our context_object_name (objects_list by default) to
        context_object_name = 'tasks' in views.py file of the application--->
        {%for task in tasks %}
        <tr>
           <td style  = "color: #FFFFFF;">{{task.title}}</td>
           <!---a tag holds created link in the html page--->
           <td><a href = "{%url 'task' task.id%}"> View </a></td>
           <td><a href = "{%url 'task-update' task.id%}"> Edit </a></td>
           <td><a href = "{%url 'task-delete' task.id%}"> Delete </a></td>
        </tr>

        <!---condition if the list is empty then empty condition should execute--->
        {%empty%}
          <h3 style  = "color: #FFFFFF;">No task to remember!</h3>

        {%endfor%}

<!---if the user is not authenticated then we should provide a login link--->
{% else %}
    <!---here provide the link for the login page--->
    <a href="{% url 'login' %}">Log in</a>
{% endif %}

</table>
{% endblock %}
