{% extends "main.html" %}
{% block content %}
<div class= "header-bar">
  <!---this link will send you back to the task ListView page--->
  <a href = "{% url 'tasks' %}" id = "go-back-link">&#8592;</a>
</div>

<div class="card-body">
  <!---the form tag will handle the Post request--->
  <form method = "POST">
      {% csrf_token %}
      <p style  = "color: #FFFFFF;" >Are you sure you wanna delete the task? "{{task}}"</p>
      <input type="submit" value = "Delete" class = "btn-delete"/>
  </form>
</div>

{% endblock %}
